/*
 * Leaflet mods
 */

.leaflet-top {
    top: 50px !important;  /* Should be the same value of topbar height */
}

/*
 * Main layout
 */

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.fullscreen {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.topbar {
  display: block;
  position: relative;
  z-index: 100;
  height: 50px;
  padding: 0 10px;
}

.topbar h1 {
  margin: 0;
}

.logo {
  padding: 5px;
}
