/*
 * Leaflet mods
 */

.leaflet-top {
    top: 50px !important;  /* Should be the same value of topbar height */
}

/*
 * Main layout
 */

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.fullscreen {
  display: block;
  width: 100%;
  height: 100%;
}

.topbar {
  display: block;
  position: relative;
  z-index: 100;
  width: 100%;
  height: 50px;
  margin-bottom: -50px;  /* Makes the topbar be in the front of main map */
}
